.ub-logo {
    max-width: 100%;
}

.festival-logo {
    max-width: 100%;
}

.bands {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.band {
    margin: 0.2rem;
}

.band-img {
    transition: transform .2s; /* Animation */
}

/* Mobile | Portrait */
@media only screen and (orientation: portrait) {
    .band-img {
        max-width: 100%;
    }
}

/* Desktop | Landscape */
@media only screen and (orientation: landscape) {
    .band {
        /* flex-basis: 25%; */
        width: 45%;
    }

    .band-img {
        max-width: 100%;
    }
}

@media(hover: hover) and (pointer: fine) {
    .band-img:hover {
        transform: scale(1.1);
    }
}

