@import url(theme.css);

body {
    background: var(--bg-main);
    color: var(--fg-main);
    font-family: 'Helvetica', 'Lucida Sans', 'Courier New', monospace;
    font-size: 1.2rem;
    padding: 0.1rem 1rem;
    display: flex;
    flex-flow: row wrap;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

body > * {
    flex: 1 100%;
    padding: 1rem;
}

main {
    text-align: center
}

footer {
    text-align: center;
    ul {
        list-style: none;
        display: inline-block;
        float: none;
        padding: 0;

        li {
            display: inline;
        }
    }
}

@media all and (min-width: 800px) {
    .main { flex:10 0; }
    .main { order: 1; }
    footer { order: 2; }
}

@media all and (min-width: 1000px) {
    body { max-width: 50vw; }
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.7em; }

/* ION ICON */
footer ion-icon {
    color: var(--red);
    font-size: 3rem;
}

@media(hover: hover) and (pointer: fine) {
    ion-icon:hover {
        color: var(--fg-main);
    }
}

@media(hover: none) and (pointer: coarse) {
    ion-icon:active {
        color: var(--fg-main);
    }
}

/* STYLES */
.centered {
    margin: auto;
    display: block;
}

.info {
    ul {
        list-style: none;
        display: inline-block;
        float: none;
        padding: 0;
    }
}

.ub-logo {
    max-width: 100%;
}

