@import url(theme.css);

:root {
    --unit-100vh: 100vh;
}

@supports (height: 100dvh) {
    :root {
        --unit-100vh: 100dvh;
    }
}

body {
    background: var(--bg-main);
    color: var(--fg-main);
    font-family: 'Helvetica', 'Lucida Sans', 'Courier New', monospace;
    font-size: 1.2rem;
    margin: 0;
}

/* Mobile | Portrait */
@media only screen and (orientation: portrait) {
    body {
        height: var(--unit-100vh);
    }
    main {
        height: var(--unit-100vh);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .index-image {
        height: 100%;
        width: 100vw;
    }
}

/* Desktop | Landscape */
@media only screen and (orientation: landscape) {
    .index-image {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        height: var(--unit-100vh);
    }
}

.index-image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    filter: grayscale(100%);
}

.info-button {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.info-text {
    color: var(--fg-main);
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    background-color: var(--red);
    border-radius: 6px;
    outline: none;
}


/* Desktop hover */
@media(hover: hover) and (any-pointer: fine) {
    .index-image:hover {
        opacity: 0.8;
        filter: grayscale(0%);
    }

    .info-button:hover {
        .info-text {
            transform: scale(1.1);
        }
    }
}

/* Mobile hover */
@media(hover: none) and (pointer: coarse) {
    .index-image:active {
        opacity: 0.8;
        filter: grayscale(0%);
    }

    .info-button:active {
        .info-text {
            transform: scale(1.1);
        }
    }
}

