@media (prefers-color-scheme: dark) {
    /* Dark theme styles go here */
    :root {
        --bg-main: #000000;
        --fg-main: #e1e1e1;
        --red: #d54125;
    }

    body {
        font-weight: 350;
    }
}

@media (prefers-color-scheme: light) {
    /* Light theme styles go here */
    :root {
        --bg-main: #e1e1e1;
        --fg-main: #000000;
        --red: #d54125;
    }

    body {
        font-weight: 400;
    }
}

